<div>
        <label for="CustomerID">CustomerID</label>
        <br />
        <input
               type="text"
               placeholder="Customer name"
               data-ng-model="NewCustomer.CustomerID" />
        <br /> 
        <label for="ContactName" >CustomerName</label>
        <br />
        <input type="text" placeholder="Contact name" data-ng-model="NewCustomer.ContactName" required />
        <br />
        <label for="Description">Beskrivning</label>
        <br />
        <input type="text" placeholder="Company name" data-ng-model="NewCustomer.CompanyName" required />
        <br />
        <button type="submit" data-ng-click="SaveNewCustomer()">Save Customer</button>
    <hr />
</div>